// global.scss

* {
	-webkit-tap-highlight-color: transparent;
	word-wrap: break-word;
	box-sizing: border-box;
}

:focus {
	outline: none;
}

@include placeholder(#999);

html {
	font-size: 100%;
	background: #fff;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Disable iOS/WinMobile font size changes
	@media screen and (max-device-width: 480px) {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	&.modal-in {
		overflow: hidden;
	}
}

body {
	color: $color-text;
	font-family: $font-family-base;
	font-weight: $font-weight-regular;
	line-height: $line-height-base;
	
	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.6);
		opacity: 0;
		display: none;
		transition: opacity 300ms ease-in-out;
	}

	.modal-in & {

		&:after {
			display: block;
		}
	}

	.modal-show & {

		&:after {
			opacity: 1;
		}
	}
}

img {
	-ms-interpolation-mode: bicubic;
}