// job-board

.job-board {
}

.job-board__header {
    margin-bottom: $vr*2;

    @media #{$BPD} {
        margin-bottom: $vr*5;
    }
}

.job-board__title {
    @extend .title--style-c;
    color: $brand-color-d;
}

.job-board__amount {
    color: $brand-color-a;
}

.job-board__body {

}

.back-btn {
    margin-bottom: $vr*2;
}